.codeBlockContainer {
    position: relative;
}

.highLighter {
    max-width: 100%;
    min-height: 500px;
    background-color: var(--component-display); 
    border: 1px solid white;
}

.copyIcon {
    cursor: pointer;
    fill: var(--foreground);
    position: absolute;
    bottom: -35px;
}