.loadMoreButton {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btn-foreground);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--btn-background);
    border: none;
    border-radius: 2px;
    gap: 10px;
    border: 2px solid white;
    transition: background-color 0.2s ease-in-out;
    animation: fadeInUp 0.5s forwards;

    &:hover {
        background-color: transparent;
        color: var(--btn-background);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}