.headerMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    gap: 50px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 100px;
    gap: 5px;
}

.homeLink {
    font-size: 24px;
    transition: color 0.1s ease-in-out;

    &:hover {
        color: rgb(156, 156, 156);
    }
}

.componentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    padding: 25px;
    gap: 50px;
}

.componentDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 25px;
    border-radius: 2px;
    background-color: var(--component-display);
    width: 100%;
}

.descriptionText {
    color: var(--foreground);
    font-size: 16px;
    text-align: left;
}

.routeName {
    font-size: 24px;
    color: var(--foreground);
}

.repoLink {
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    width: 100%;
    color: var(--foreground);
    transition: 0.2s ease-in-out;

    &:hover {
        color: rgb(156, 156, 156);
    }
}

.repoChev {
    position: relative;
    top: 2px;
    margin-right: 5px;
}